* {
  background-color: slategray;
  color: black;
}

form {
  background-color: #efefef;
}

body {
  flex: flex;
  flex-wrap: wrap;
  display: flex;
  font-size: 20px;
  font-weight: 300;
}

.header {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 26px;
  background-color: steelblue;
  flex: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 0px;
  background-color: snow;
}

h1 {
  background-color: snow;
}

.history {
  list-style: none;
  font-size: 20px;
  background-color: snow;
}

.container {
  width: 100%;
  height: 600px;
  flex: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: snow;
}

button {
  display: flex;
  height: 100%;
  text-align: center;
  background-color: snow;
}

.btn-area {
  width: 200px;
  height: 30px;
  border: solid;
  border-color: black;
  background-color: snow;
  margin: 10px;
  display: flex;
  flex: flex;
  justify-content: start;
  flex-direction: column;
}

#search-box {
  width: 100%;
  height: 40px;
  background-color: steelblue;
}

#city-input {
  width: 90%;
  height: 28px;
  flex: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  background-color: snow;
}

.left-box {
  flex: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  width: 30%;
  height: 88%;
  margin-bottom: 10px;
  margin-left: 10px;
  border: solid;
  border-color: black;
  background-color: snow;
}

.main-box {
  flex: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: solid;
  border-color: black;
  width: 60%;
  margin: 10px;
  height: 60%;
  background-color: snow;
}

.bottom-box {
  width: 60%;
  height: 22%;
  margin: 10px;
  height: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: solid;
  border-color: black;
  background-color: snow;
}

.text-area {
  display: inline-block;
  background-color: snow;
}

.city {
  width: 90%;
  height: 80px;
  font-size: 30px;
  background-color: snow;
}

#small {
  width: auto;
  height: 30px;
  text-align: left;
  font-size: 20px;
  background-color: snow;
}